{% extends 'instagrambae/base.html' %}

{% block content %}

    <h3>{{ object.image_name }}</h3>

    <img style="width: 300px; height: 300px;" src="{{ object.image.url }}" alt="post image"> <br>
    <p>
        <small>{{ object.image_caption }}</small>
    </p>

    <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>

    <form action="{% url "like_post" %}" method="post">
        {% csrf_token %}
        {% if is_liked %}
            <button type="submit" class="btn btn-danger" name="post_id" value="{{ object.id }}">Dislike</button>
        {% else %}
            <button type="submit" class="btn btn-primary" name="post_id" value="{{ object.id }}">Like</button>
        {% endif %}

    </form>

    {#    <form action="{% url "comment_post" %}" method="post">#}
    {#        {% csrf_token %}#}
    {#        {% if is_liked %}#}
    {#            <button type="submit" class="btn btn-danger" name="post_id" value="{{ object.id }}">Dislike</button>#}
    {#        {% else %}#}
    {#            <button type="submit" class="btn btn-primary" name="post_id" value="{{ object.id }}">Like</button>#}
    {#        {% endif %}#}
    {##}
    {#    </form>#}
    <div>
    <hr>
    <h1>{{ object.comments.all.count }} Comment{{ object.comments.all|pluralize }}</h1>
    {% for comment in object.comments.all %}
        <blockquote class="blockquote">
            <p class="mb-0">{{ comment.content }}</p>
            <footer class="blockquote-footer">By <cite
                    title="{{ comment.user|capfirst }}">{{ comment.user|capfirst }}</cite></footer>
        </blockquote>
    {% endfor %}

{% endblock content %}

</div>