{% extends 'instagrambae/base.html' %}

{% block content %}
    {% for post in posts %}
        <h3>{{ post.image_name }}</h3>
        <a href="{% url 'post_detail' post.id %}"><img style="width: 300px; height: 300px;" src="{{ post.image.url }}"
                                                       alt="post image"></a>
        <br>
        <p>
            <small>{{ post.image_caption }}</small>
        </p>
        <h3>Liked By</h3>
        <ul>
            {% for liker in post.likes.all %}
                <li>{{ liker }}</li>
            {% endfor %}
        </ul>

        <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
    {% endfor %}
{% endblock content %}